<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Curent Cv</title>
    <link rel="stylesheet" href="../module/css/cv.css">
  </head>
  <body>
    
    <div class="headContainer">
      <nav>
        <li><a href="../index.html">Home</a></li>
      </nav>
      <!--container to display cv-->
      <div class="cv-document" >
        
        <embed  src=".././module/images/papa_CV.pdf" width="800px" height="1080px" />

      </div>
    </div>

  </body>
</html>
